* {
  margin: 0;
  color: white;
  padding: 0;
}

#navbar {
  font-size: 25px;
  background-color: #0f1111;
  height: 60px;
  border: white 10px solid;
}

button {
  background-color: #f08804;
}

#logo {
  color: #f08804;
}

a {
  margin-right: 200px;
}
