/* h1:hover {
  width: fit-content;
  color: red;
  background-color: black;
} */

h1 {
  width: fit-content;
}

h1:hover {
  width: 100%;
  height: 100%;
  color: burlywood;
  text-align: center;
}

button {
  background-color: blue;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: green;
}
